/* Modifications to http://kevinburke.bitbucket.org/markdowncss/markdown.css */

ul,ol {
    margin: 0 0 0 35px;
}

a
{
  color: maroon;
  text-decoration: none;
  background-color: transparent;
}

a:hover
{
  color: yellow;
  background: #CAFFFF;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: maroon; !important;
    border-color: maroon; !important;
}