/* Modifications to http://kevinburke.bitbucket.org/markdowncss/markdown.css */

ul,ol {
    margin: 0 0 0 35px;
}

a
{
  color: maroon;
  text-decoration: none;
  background-color: transparent;
}

a:hover
{
  color: yellow;
  background: #CAFFFF;
}

.btn-maroon {
    background: maroon;
    color: #ffffff;
}