/* Modifications to http://kevinburke.bitbucket.org/markdowncss/markdown.css */

ul,ol {
    margin: 0 0 0 35px;
}

a
{
  color: maroon;
  text-decoration: none;
  background-color: transparent;
}

a:hover
{
  color: yellow;
  background: #CAFFFF;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: maroon;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: maroon;
}
 
.btn-primary:active, .btn-primary.active {
    background: maroon;
    box-shadow: none;
}