code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
    color: #0072b2;
}

a {
    color: #0072b2;
}

a:hover {
    color: #e69f00;
}

a img {
    border: solid 2px white;
}

/* unvisited link */
a:link {
    color: #0072b2;
}

/* visited link */
a:visited {
    color: #0072b2;
}

p.center {
    text-align: center;
}

table.wide {
    width: 100%;
}

table.wide td {
    padding-top: 20px;
    padding-bottom: 20px;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

#hide_email b {
    display: none;
}


h1, h2, h3, h4 {
    color: #003366;
}

body {
    padding-top: 60px;
}
