code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
    color: #Crimson;
}

a {
    color: #Crimson;
}

a:hover {
    color: red;
    background-color: #B0C4DE;
    text-decoration: none;
}

a img {
    border: solid 2px white;
}

a:hover img {
    color: darkslateblue;
    background-color: #e3e4fa;
    text-decoration: none;
    border: solid 2px #e3e4fa;
}

/* unvisited link */
a:link {
    color: Crimson;
}

/* visited link */
a:visited {
    color: Crimson;
}

p.center {
    text-align: center;
}

table.wide {
    width: 100%;
}

table.wide td {
    padding-top: 20px;
    padding-bottom: 20px;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

#hide_email b {
    display: none;
}


h1, h2, h3, h4 {
    color: darkred;
}

/* Social */

.social {
  list-style-type: none;
  padding-left: 20px;
}

.social li {
  clear: both;
}

.social a {}

.social i { 
  float: left;
  margin-right: 3px;
  padding-top: 4px;
}
.social a[href*='twitter.com'] + i:before {content: url('../../../assets/img/twitter.png'); }
.social a[href*='github.com'] + i:before {content: url('../../../assets/img/github.png'); }
.social a[href*='publons.com'] + i:before {content: url('../../../assets/img/publons.png'); }